
	
body {
	background:url(../images/150324_cars-hero-image_1330x742.jpg) no-repeat center top scroll;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #888;
    line-height: 30px;
    text-align: center;
	background-size: cover;
	display:compact;
	}



.car-type
{
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size:20px;
	font-weight:500;
	color:#242424;
	
}
.car-name
{
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size:12px;
	font-weight:200;
	color:#646363;
	
}
ul
{
	font-size:10px;
	list-style-type:none;
	float:left;	
}
.price {
    background-color: #ff5622;
    border-radius: 17px;
    
}
.tag {
    background-color: tomato;
    border-radius: 11px 13px;
}
.sym {
    font-size: 20px;
    font-weight: 500;
}
.dollar {
    font-size: 13px;
    font-weight: 100;
}
.cent {
    float: right;
    font-size: 10px;
    font-weight: 500;
    margin-right: -1px;
    margin-top: 0;
    padding: 3px 2px;
    position: fixed;
}
.total {
   float: right;
    font-weight: 700;
    margin: 25px -1px;
    
}
.pricetag {
    margin-top: -9px;
}


.error{
	display: none;
	margin-left: 10px;
}		

.error_show{
	color: red;
	margin-left: 10px;
}

